.home-banner{
    background: #00a3b1 !important;
}

.fnumber{
    background: #00a3b1 !important;
}

.feature-item:hover{
    border-color: #00a3b1 !important;
}

.feature-item:hover .fea-icon{
    background-color: #00a3b1 !important;
}

#navigation::after{
    background-image: url();
}

.bg_btn{
    background-color: #00a3b1 !important;
    border-color: aliceblue !important;
    color:aliceblue !important
}

.wborder_btn{
    background-color: #00a3b1 !important;
    border-color: aliceblue !important;
    color:aliceblue !important
}

.bg_btn:hover {
    background-color: aliceblue !important;
    color: black !important;
}


.wborder_btn:hover{
    background-color: aliceblue !important;
    color: black !important;
}

.total_students_badge .icon{
    background-color: #00a3b1 !important;
}

.total_course_badge .icon{
    background-color: #00a3b1 !important;
}

.section-title span{
    color: #00a3b1 !important;
}

.counter-title h2 span{
    color: #00a3b1 !important;
}

.counter-title h2::before{
    background-color: #00a3b1 !important;
}

.counter-title h2::after{
    background-color: #00a3b1 !important;
}

.counter-item .cicon{
    background-color: #00a3b1 !important;
}

.working-process{
    background-color: #00a3b1 !important;
}

.wicon{
    background-color: #00a3b1 !important;
}

.sicon a{
    background-color: #00a3b1 !important;
}

.single-instructor .designation{
    color: #00a3b1 !important;
}

.circles{
    background-color: #00a3b1 !important;
}

.review-item .rating-number{
    background-color: #00a3b1 !important;
}

.preloader{
    background-color: #00a3b1 !important;
}